body {
  background-color: hsl(212, 45%, 89%);
}

#card {
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: white;
  padding: 1em;
  justify-content: center;
  border-radius: 0.6em;
  margin-bottom: 10em;
  box-shadow: gray 4px 4px 10px 1px;
}

#card img {
  border-radius: 0.6em;
}

.paragraph-title {
  font-family: Outfit, sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 1.3rem;
  margin: 1em 0.8em;
}

div .description {
  font-size: 1rem;
  font-weight: 400;
  font-family: Outfit, sans-serif;
  text-align: center;
  margin: 0 1em 1.5em;
  color: hsl(220, 15%, 55%);
}

.attribution {
  font-size: 1.5rem;
  font-family: Outfit, sans-serif;
  font-weight: 700;
}

.attribution a {
  text-decoration: none;
  color: black;
}

.attribution a:hover {
  color: #009eff;
}

.attribution-name {
  padding: 0.2rem 0.5rem;
  background-color: #009eff;
  color: white;
  border-radius: 0.3em;
}
